{% load static %}
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="{% static 'images/profi.png' %}" alt="User Image" width="60" height="60">
        <div>
          <p class="app-sidebar__user-name">{{ request.user.full_name }}</p>
          <p class="app-sidebar__user-designation mt-1">Fab|Waste</p>
        </div>
      </div>

    {#================== snippets for displaying sidebar on Admin ======================================#}
      {% if request.user.is_superuser %}
          <ul class="app-menu">
        <li><a class="app-menu__item active" href="{% url 'dashboard' %}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Categories</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{% url 'add_category' %}"><i class="icon fa fa-circle-o"></i>Add Categories</a></li>
          </ul>
        </li>
{#        <li><a class="app-menu__item" href="charts.html"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Charts</span></a></li>#}

        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Devices</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{% url 'payed' %}"><i class="icon fa fa-circle-o"></i>Payed Devices</a></li>
            <li><a class="treeview-item" href="{% url 'un_payed' %}"><i class="icon fa fa-circle-o"></i>UnPayed Devices</a></li>
            <li><a class="treeview-item" href="{% url 'available_devices' %}"><i class="icon fa fa-circle-o"></i>Available Devices</a></li>
            <li><a class="treeview-item" href="{% url 'un_available' %}"><i class="icon fa fa-circle-o"></i>Unavailable Devices</a></li>
          </ul>
        </li>

        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">User Management</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{% url 'list_user' %}"><i class="icon fa fa-circle-o"></i>All Users</a></li>
          </ul>
        </li>
      </ul>

     {#================== snippets for displaying sidebar on household ======================================#}
      {% elif request.user.is_house_hold%}
       <ul class="app-menu">
        <li><a class="app-menu__item active" href="{% url 'dashboard' %}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Device</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{% url 'add_product' %}"><i class="icon fa fa-circle-o"></i>Add Device</a></li>
            <li><a class="treeview-item" href="{% url 'view_product' %}"><i class="icon fa fa-circle-o"></i>View Device</a></li>
          </ul>
        </li>
{#        <li><a class="app-menu__item" href="charts.html"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Charts</span></a></li>#}

      </ul>
      {% endif %}
    </aside>