{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_tags %}
{% block dashboard_content %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
          <p>Care the Environment</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
      </div>

    <div class="row">
        <div class="col-7">
            <div class="card">
                <h4 class="card-header">Change Password</h4>
            <div class="card-body">
                <form method="POST" class="form-signin">
                    {% csrf_token %}
                        {{ form.email|as_crispy_field }}
                  <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-envelope"></i>Send reset link</button>
                </form>
            </div>
        </div>
        </div>
    </div>
    </main>
{% endblock %}