{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_tags %}
{% block dashboard_content %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
          <p>Care the Environment</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
      </div>

    <div class="row">
        <div class="col-7">
            <div class="card">
                <h5 class="card-header"><i class="fa fa-check-circle text-success" style="font-size: 25px"></i> Password Reset Done</h5>
            <div class="card-body">
                <div class="alert alert-info" role="alert">
                  Your Password has been changed Successfully!
                </div>
            </div>
        </div>
        </div>
    </div>
    </main>
{% endblock %}