{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-5">
            <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <!-- <button >Save</button> -->
            <div class="text-center">
                <input type="submit" class="btn btn-success w-50" value="Save">
            </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}