{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>your Products</h1>

    {% for product in products %}

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ product.product_image.url }}" class="img-fluid rounded-start" alt="image for {{ product.product }}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b>P Name:</b> {{ product.product }}</h5>
            <p class="card-text"><b>Description:</b> {{ product.description }}</p>
            <p class="card-text"><b>P Cost:</b> {{ product.cost }}</p>
            <p class="card-text"><b>P QTY:</b> {{ product.quantity }}</p>
            <p class="card-text"><small class="text-muted">Created {{ product.created_date}}</small></p>
              {% if not request.user.is_staff %}
                <a href="{% url 'update_product' product.id %}" class="btn btn-sm btn-info">update</a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

</div>
{% endblock %}