{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard_content %}

    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i>Update your product</h1>
          <p>Fab|Waste</p>
        </div>
      </div>
        <h1>Product Update</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                   <div class="col-sm-12">
                        <div class="tile">
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.quantity|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.availability|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.collected_date|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.district|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.sector|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.cell|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.village|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.road_number|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.house_number|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" width="500">Update Device</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
    </main>
{% endblock %}