{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard_content %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i>Add Sub Category</h1>
          <p>Fab|Waste</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="tile">
            <h3 class="tile-title">Add Sub Categories</h3>
            <div class="tile-body">
              <form action="" method="post">
                  {% csrf_token %}
                <div class="row">
                  <div class="col-6">{{ form.category|as_crispy_field }}</div>
                  <div class="col-6">{{ form.name|as_crispy_field }}</div>
                  <div class="col-6">{{ form.minimum_price|as_crispy_field }}</div>
                  <div class="col-6">{{ form.maximum_price|as_crispy_field }}</div>

                </div>
                <div class="tile-footer text-center">
                  <button class="btn btn-primary" type="submit" style="width: 250px;"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}