{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% load search_templatetags %}
{% block dashboard_content %}

    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i>All Devices in Your Location</h1>
          <p>Fab|Waste</p>
        </div>
      </div>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-success text-center" role="alert">
              {{ message }}
            </div>
            {% endfor %}
        </ul>
    {% endif %}


{#      <div class="row">#}
{#        <div class="col-md-12">#}
{#          <div class="tile">#}
{#            <div class="tile-body">#}
{#              <div class="table-responsive">#}
{#                <table class="table table-hover table-bordered" id="sampleTable">#}
{#                  <thead>#}
{#                    <tr>#}
{#                      <th>ID</th>#}
{#                      <th>Product</th>#}
{#                      <th>Quantity</th>#}
{#                      <th>Desired Price</th>#}
{#                      <th>Created Date</th>#}
{#                      <th>Collected Date</th>#}
{#                      <th>View</th>#}
{#                    </tr>#}
{#                  </thead>#}
{#                  <tbody>#}
{#                    {% for device in data %}#}
{#                        <tr>#}
{#                          <td>{{ device.id}}</td>#}
{#                          <td>{{ device.product_name}}</td>#}
{#                          <td>{{ device.quantity}}</td>#}
{#                          <td>{{ device.desired_price}}</td>#}
{#                          <td>{{ device.created_date}}</td>#}
{#                          <td>{{ device.collected_date}}</td>#}
{#                          <td>#}
{#                            <div class="text-center">#}
{#                              <a href="{% url 'device_details' device.pk %}"><ion-icon name="eye-outline" style="font-size: large"></ion-icon></a>#}
{#                            </div>#}
{#                          </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                  </tbody>#}
{#                </table>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}


    <div class="row row-cols-1 row-cols-md-1 g-4">
           {% for dat in page_obj.object_list %}
               <div class="col-2 mb-3">
                <div class="card">
                  <img src="{{dat.product_image.url}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ dat.product_name }}</h5>
                      <div class="">
                          <h5>
                              <span class="badge bg-danger text-white"><i class="fa fa-money mr-1"></i>Price</span>
                              <span class="badge">RWF {{ dat.selling_price }}</span>
                          </h5>
                      </div>
                      <div class="text-center mt-3">
                          <a href="{% url 'device_details' dat.id %}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i>More</a>
                      </div>
                  </div>
                </div>
              </div>
               {% empty  %}
               <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                  <h5>No Result Found for {{ q }}!</h5>
                </div>
               </div>
           {% endfor %}
        </div>

    <div class="row justify-content-center m-4">
        <div class="col-lg-6">
            <div class="bs-component">
              <div>
                <ul class="pagination">
                 {% if page_obj.has_previous %}
                  <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">«</a></li>
                  {% endif %}
                {% for i in page_obj.paginator.page_range %}
                  {% if page_obj.number == i %}
                  <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                 {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">»</a></li>
                {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>


    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

   <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>


    {% endblock %}