{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block dashboard_content %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
          <p>Care the Environment</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
      </div>

      {% if request.user.is_superuser %}
        {# ============ Scripts for displaying cards==============  #}
        <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>Users</h4>
              <p><b>{{ total_users }}</b></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
              <h4>Payed</h4>
              <p><b>{{ total_payed_devices }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h4>Unpayed Devices</h4>
              <p><b>{{ total_unpayed_devices }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>Total Device</h4>
              <p><b>{{ total_collected_devices }}</b></p>
            </div>
          </div>
        </div>
      </div>

        {# ============ Scripts for displaying charts==============  #}
        <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Total Devices and Their Category</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Paid VS UnPaid Devices</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
            </div>
          </div>
        </div>
      </div>

      {% elif request.user.is_house_hold %}
        <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>UnSold Devices</h4>
              <p><b>{{ household_total_devices }}</b></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
              <h4>Earned Money</h4>
              <p><b>RWF {{ money }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h4>Picked Devices</h4>
              <p><b>{{ household_picked_device }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>Sold Device</h4>
              <p><b>{{ household_sold_device }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
            <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Created Date</th>
                      <th>Collected Date</th>
                      <th>Device Availability</th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for device in devices %}
                        <tr>
                          <td>{{ device.product_name}}</td>
                          <td>{{ device.quantity}}</td>
                          <td>{{ device.created_date}}</td>
                          <td>{{ device.collected_date}}</td>
                          <td class="text-center">
                              <span class="badge {% if device.payed == True %}badge-success {% elif device.availability == 'UnAvailable' %}badge-danger{% elif device.availability == 'Available' %}badge-info{% endif %}">{% if device.payed == True %}
                              Payed {% else %}{{ device.availability }}{% endif %} </span>
                          </td>
                          <td>
                            <div class="text-center">
                              <a href="{% url 'device_details' device.pk %}"><ion-icon name="eye-outline" style="font-size: large"></ion-icon></a>
                            </div>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


{# =========================================================================================================================          #}
      {% elif request.user.is_manufacture %}
          <div class="row">
            <div class="col-md-6 col-lg-3">
                <a href="{% url 'electronics_products' %}" class="text-decoration-none">
                    <div class="widget-small primary coloured-icon"><i class="icon fa fa fa-list fa-3x"></i>
                <div class="info">
                  <h4>Electronics Products</h4>
                    <p><b>{{ total_electronics_products }}</b></p>
                </div>
              </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small primary coloured-icon"><i class="icon fa fa fa-list fa-3x"></i>
                <div class="info">
                  <h4>Textile Products</h4>
                    <p><b>{{ total_textile_products }}</b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small primary coloured-icon"><i class="icon fa fa fa-list fa-3x"></i>
                <div class="info">
                  <h4>Metals Products</h4>
                    <p><b>{{ total_plastics_products }}</b></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="widget-small primary coloured-icon"><i class="icon fa fa fa-list fa-3x"></i>
                <div class="info">
                  <h4>Metals Products</h4>
                    <p><b>{{ total_metals_products }}</b></p>
                </div>
              </div>
            </div>
          </div>
{# =========================================================================================================================          #}
          {% elif request.user.is_agent %}

          <div class="row">
              <div class="col-md-6 col-lg-3">
                  <div class="widget-small primary coloured-icon"><i class="icon fa fa-file fa-3x"></i>
                    <div class="info">
                      <h4>Total Products</h4>
                      <p><b>{{ agent_total_devices }}</b></p>
                    </div>
                  </div>
                </div>
              <div class="col-md-6 col-lg-3">
                  <div class="widget-small info coloured-icon"><i class="icon fa fa-list fa-3x"></i>
                    <div class="info">
                      <h4>Collected Products</h4>
                      <p><b>{{ agent_total_collected_devices }}</b></p>
                    </div>
                  </div>
                </div>
              <div class="col-md-6 col-lg-3">
              <div class="widget-small danger coloured-icon"><i class="icon fa fa-times fa-3x"></i>
                <div class="info">
                  <h4>Denied Products</h4>
                  <p><b>{{ agent_total_denied_devices }}</b></p>
                </div>
              </div>
            </div>
              <div class="col-md-6 col-lg-3">
              <div class="widget-small info coloured-icon"><i class="icon fa fa-money fa-3x"></i>
                <div class="info">
                  <h4>Payed Products</h4>
                  <p><b>{{ agent_total_payed_devices }}</b></p>
                </div>
              </div>
            </div>
              <div class="col-md-6 col-lg-3">
                  <div class="widget-small warning coloured-icon"><i class="icon fa fa-money fa-3x"></i>
                    <div class="info">
                      <h4>UnPayed Products</h4>
                      <p><b>{{ agent_total_unpayed_devices }}</b></p>
                    </div>
                  </div>
                </div>
              <div class="col-md-6 col-lg-3">
              <div class="widget-small info coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                  <h4>Total Users</h4>
                  <p><b>{{ agent_total_users }}</b></p>
                </div>
              </div>
            </div>
          </div>
    {% endif %}
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

   <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>

{% endblock %}