{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_content %}

    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i>List of Acceptable Categories and their Price</h1>
          <p>Fab|Waste</p>
        </div>
      </div>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-success text-center" role="alert">
              {{ message }}
            </div>
            {% endfor %}
        </ul>
    {% endif %}

      <div class="row">
        <div class="col-md-12">
          <div class="tile">
          <div class="text-right">
              <a href="{% url 'add_sub_category' %}" class="btn btn-primary btn-sm mb-4"><i class="fa fa-plus"></i>add Sub Category</a>
          </div>
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Category</th>
                      <th>Sub Category</th>
                      <th>Minimum Price</th>
                      <th>Maximum Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for subcategory in  subcategories %}
                        <tr>
                          <td>{{ subcategory.id}}</td>
                          <td>{{ subcategory.category}}</td>
                          <td>{{ subcategory.name}}</td>
                          <td>{{ subcategory.maximum_price}}</td>
                          <td>{{ subcategory.minimum_price}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

   <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>


    {% endblock %}