{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_content %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i>Devices Details</h1>
          <p>Fab|Waste</p>
        </div>
      </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="tile">
                <h5 class="text-center">Product Image</h5>
                <hr>
                <div class="text-center">
                    <img src="{{ details.product_image.url }}" alt="" width="300" height="300">
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tile">
                <h5 class="text-center">{{ details.product_name }}</h5>
                <hr>
                <p>{{ details.description }}</p>
                <div class="row" style="width: 70%">
                    <div class="col-sm-6">
                        <div class="card mb-3 border-primary">
                            <div class="card-body">
                                <b>Price: </b>{{ details.selling_price }}<br>
                                <b>Quantity: </b>{{ details.quantity }}<br>
{#                                <b>Price: </b>{{ details.selling_price }}<br>#}
                                <b>Create Date: </b>{{ details.created_date }}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card mb-3 border-primary">
                            <div class="card-body">
                                <b>District: </b>{{ details.district }}<br>
                                <b>Sector: </b>{{ details.sector }}<br>
                                <b>Cell: </b>{{ details.cell }}<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </main>
{% endblock %}