{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_content %}

    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i>Textile Products</h1>
          <p>Fab|Waste</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Created Date</th>
                      <th>Collected Date</th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for device in plastics %}
                        <tr>
                          <td>{{ device.product_name}}</td>
                          <td>{{ device.quantity}}</td>
{#                          <td>{{ device.user.full_name}}</td>#}
                          <td>{{ device.created_date}}</td>
                          <td>{{ device.collected_date}}</td>
                          <td>
                            <div class="text-center">
                              <a href="{% url 'device_details' device.id %}"><ion-icon name="eye-outline" style="font-size: large"></ion-icon></a>
                            </div>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

   <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>

{% endblock %}